<div class="inner_bg p-0 min-vh-100 d-flex align-items-center justify-content-center">    
    <div class="error_not_Found">
        <hgroup>
            <h2>Cashback Casino</h2>
            <h1>403</h1>
            <h6>Forbidden</h6>
        </hgroup>
        <p>This internet site is not accepting visitors from your country.</p>
        <p><span>Should you have questions please contact us  at <a href="mailto:support@cashbackcasino.com">support@cashbackcasino.com</a></span></p>
    </div>
</div>
