// _inner.scss

/******************************/
/** Privacy policy **/
/*****************************/
.inner_bg {
	background: url(src/assets/img/subpage_bg.png)no-repeat; 
	background-size: 100%; 
	padding:80px 0 0; min-height: 100vh;
	@media (min-width:1600px){
		background-position: center -50px;
	}
	@media (max-width:820px){
		background-size: 130%; 
		background-position:center top;
	}
}
.policy-area {
	@media (min-width:768px){
		min-height:460px;
	}
}
.policy-area .page_header {
    text-transform: uppercase;
    width: 100%;
    position: $relative;
    overflow-x: hidden;
    @include flexbox;
    @include justify-content (center);
    @include align-items (center);
	padding: 30px 0 15px;
    font-size: $f20+8;
    z-index: 1;
    margin: 0px;
	@media (min-width: 821px){
		padding: 30px 0;
	}
	.pageheader_box{
		font-weight: $font-bold;
		color: $base-color;
		line-height: 38px;
		padding: 10px 40px;
		display: inline;
		position: $relative;
		border-width: 1px;
		border-style: solid;
		border-color: $base-color;
		border-image: initial;	
		@media (max-width:991px){
			padding: 10px 20px;
			font-size: $f20+4;
			line-height: 27px;
		}
	}	
}
.policy-area .page_header:before, .policy-area .page_header:after{
	content: "";
	flex: 1 1 0%;
	border-top: 1px solid $base-color;
}
.policy-area { 
	margin-bottom: 60px;
	h1 {
		font-size: 2em; margin: 0 0 .67em 0;
		@media (max-width: 767px){
			font-size: 1.8em; margin: .5em 0;
		}
		@media (max-width: 575px){
			font-size: 1.6em;
		}
	}
	h4 {
		font-size: 1.5em; margin-bottom: 10px;
		@media (max-width: 767px){
			font-size: 1.2em;
		}
	}
	h5 {
		margin-bottom: 10px; font-size: 1.17em;
		@media (max-width: 767px){
			font-size: 1em;
		}
	}
	h6{margin-bottom: 10px;
		@media (max-width: 575px){
			font-size: 0.8em;
		}
	}
	a {color: #FFC400 !important;}
	ul {padding-left: 0; list-style-type: circle; padding-top: 0.6em;}
	.img_about{
		@media (max-width: 767px){
			display: $none;
		}
	}
}
.policy-area ul > li::before { content: "â—"; display: table-cell; padding-right: 0.6em; color: #FFC400;}
.policy-area ul > li {display: table; margin-bottom: 0.6em;}
.privacy_policy ol {counter-reset: section 0; list-style-type: none;padding-left: 0;}
.privacy_policy ol > li {counter-increment: section 1; display: table; margin-bottom: 0.6em;}
.privacy_policy ol > li::before {content: counters(section, ".") ". "; display: table-cell; padding-right: 0.6em;}
.policy-area th, .policy-area td {padding: 10px;}
.policy-area table, .policy-area th, .policy-area td {border-width:1px; border-style: solid; border-color: $white-color; border-image: initial;}
.policy-area table { border-collapse: collapse;}
.policy-area .table-responsive {margin-bottom: 20px;}
.table tbody td, .table thead th {border-color:#d7d7e0; vertical-align:middle;}
.table thead th {border-bottom:0;}

.responsible_games{
	a {color: #FFC400;}
	ul {padding-top:0;}
}

/******************************/
/** About us  
/****************************/
.about_us_section {
	padding: 40px;
	@media (max-width: 767px){
		padding: 20px;
	}
	h1{
		margin-top: 0;
	}
	p{
		margin-bottom: 0;
	}
	.border-left {
		@media (max-width: 767px){
			border-left: 0 !important;
		}
	}
} 