// _variable.scss

$white-color: #fff;
$base-color: #FFC400;
$yellow-color: #FFEC4A;
$bg-color: #0b1c10;
$secondary-color: #06651B;
$green-base-color: #06651B;
$green-dark-color: #0C360D;
$green-light-color: #00FE01;
$green-color: #69CF18;
$green-color1:#1A642C;
$green-color2:#277D3E;
$green-color3:#0A5E00;
$green-color4:#112918;
$green-color5:#1a512d;

$black-color: #000000;
$black-base-color:#191A25;
$black-color1: #191A26;
$black-color2: #0B1C11;
$black-color3: #20212F;
$black-color4: #07070A;
$black-color5: #20202B;
$black-color6: #161620;
$black-color7: #1E2130;
$black-color8: #303341;
$black-color9: #444444;
$black-color10: #1d1e2d;
$black-color11: #43455d;
$black-color12: #17182F;
$black-color13: #181924;
$black-color14: #1a512d;
$black-color15: #0c360d;
$black-color16: #1a1a26;
$black-light-color: #787B96;

$grey-color1:#0a0a0a;
$grey-color2:#8292A7;
$grey-color3:#d9d9d9;
$grey-color4:#aaa;
$grey-color5:#EAEAEB;
$grey-color6: #EAEAEC;
$grey-color7: #B1B2C0;
$grey-color8: #f5f5f5;
$grey-color9: #cccccc;
$grey-color10: #9fa2a6;

$success-color: #030303;
$success-color1: #42A948;
$mehroon-color: #C4211F;
$red-color: #C4211F;
$pantone-color: #173640;
$transparent: transparent;

$none: none;
$block: block;
$inline: inline;
$inline-block: inline-block;

$table: table;
$fixed: fixed;
$static: static;
$absolute: absolute;
$relative: relative;

$pointer: pointer;

$auto: auto;
$hidden: hidden;
$visible: visible;
$scroll: scroll;
$inherit: inherit;

$top: top;
$left: left;
$center: center;
$right: right;
$unset: unset;

$underline: underline;