<form *ngIf="step == 1" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-fields">
        <div class="form-group">
            <input type="password" formControlName="current_password"
                placeholder="{{getTranslatedText('forms.placeholder.current_password')}}" class="input-fields" />
            <label translate>forms.label.current_password</label>
            <display-field-error fieldName="current_password" [formControls]="formControls"></display-field-error>
        </div>
    </div>
    <div class="form-fields">
        <div class="form-group">
            <input type="password" formControlName="password"
                placeholder="{{getTranslatedText('forms.placeholder.new_password')}}" class="input-fields" />
            <label translate>forms.label.new_password</label>
            <display-field-error fieldName="password" [formControls]="formControls"></display-field-error>

        </div>
        <strength-meter [value]="form.value.password" (measure)="onPasswordStrengthChanged($event)">
        </strength-meter>
    </div>
    <div class="form-fields">
        <div class="form-group">
            <input type="password" formControlName="password_confirmation"
                placeholder="{{getTranslatedText('forms.placeholder.confirm_password')}}" class="input-fields" />
            <label translate>forms.label.confirm_password</label>
            <display-field-error fieldName="password_confirmation" [formControls]="formControls"></display-field-error>
        </div>
    </div>
    <div class="btn-contain">
        <button type="submit" class="btn btn-md btn-primary text-uppercase">
            {{'links_text.change_password' | translate }} <i class="ml-2"><img
                    src="assets/img/icons/arrow-right_icon.svg" width="20" /></i>
        </button>
    </div>

</form>
<div *ngIf="step == 2" class="lock_account text-center">
    <i class="mb-4 d-block"><img src="assets/img/icons/email_icon.svg" width="90" alt="" /></i>
    <h4 class="text-uppercase" translate>response.pw_successfully_changed</h4>
    <p translate>response.account_pw_changed_successfully</p>
    <div class="text-center mt-4">
        <!-- <button  (click)="openModal('login')" class="btn btn-md btn-primary text-uppercase mt-2"> Log in <i class="ml-2"><img src="assets/img/icons/arrow-right_icon.svg" width="20" /></i></button> -->
        <button class="btn btn-md btn-primary text-uppercase" (click)="close()">
            {{'links_text.start_playing' | translate }} <i class="ml-2"><img src="assets/img/icons/arrow-right_icon.svg"
                    width="20" alt="" /></i>
        </button>
    </div>
</div>