<app-header [showProgressBar]="false"></app-header>


<div class="inner_bg">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="text-center error_page">
                <h2>404</h2>
                <!-- <p>It seems something went wrong there, the page you are looking for can't be found. if you wish to go
                    to the homepage, <a href="/home">click here.</a></p> -->

                <p>{{ 'text.not_found_text' | translate}} <a href="/home">{{ 'links_text.click_here' | translate}}</a>
                </p>
                <!-- <div class="policy-area" [innerHtml]="data?.content"></div> -->
            </div>
            <div class="divider my-4 clearfix"><img src="assets/img/icons/divider-lg.svg" alt=""></div>
        </div>
    </div>
    <app-footer></app-footer>
</div>