.main_screen {display:flex; align-items:center; min-height:100vh; justify-content:center; flex-direction:column;}
.change_pwd_scren {color: #17182F; border-radius:10px; overflow:hidden; background:#ffffff; width:580px; margin:0 auto; font-family: 'Open Sans', sans-serif; font-weight:400;}
.change_pwd_scren form{padding:30px;}
.form_header { background: #EAEAEC; border-top-right-radius:10px; padding:15px 30px;}
.form_header h5{ color:#191A26; text-transform:uppercase; font-size:20px; font-weight:700; margin:0;}
.fieldset label {color:#1E2130; line-height:18px; margin:0 0 10px; font-size:15px; font-weight:700; display:block;}	
.fieldset .form-group {margin-bottom:20px;}
.form-control {width:100%; border: 1px solid #EAEAEB; border-radius: 10px; padding: 5px 17px; font-size: 14px; color: #1E2130; letter-spacing: 0.04em; height:44px; background: #fff; box-shadow: none; font-style: normal; line-height:1; }
.btn-primary {min-height:40px; padding: 9px 25px; font-weight: 700; min-width: 120px; border-radius: 10px;
font-size: 16px; 
background: linear-gradient(131.04deg, #FFC400 8.69%, #FFEC4A 76.92%);
background: -moz-linear-gradient(131.04deg, #FFC400 8.69%, #FFEC4A 76.92%); 
background: -webkit-linear-gradient(131.04deg, #FFC400 8.69%, #FFEC4A 76.92%); 	
box-shadow: 0px 2px 14px 0px rgba(255,196,0,0.7); color:#0B1C11; min-width: 167px; border:0; cursor:pointer;}
.invalid-feedback {width:100%; float:left; font-size:12px; color:#dc3545; margin:0 0 10px;}
.error {width:100%; float:left; font-size:12px; color:#dc3545; margin:0 0 10px;}
@media ( max-width:580px) {
.change_pwd_scren {width:90%;}
}