<div class="main_screen">
  <!-- <figure><img src="assets/img/logo.svg" width="167" class="img-fluid" /></figure> -->
  <div class="change_pwd_scren">
    <div class="form_header d-flex align-items-center justify-content-center">
      <h5 translate>title.change_password</h5>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="fieldset">
        <label translate>forms.label.new_password</label>
        <div class="form-group">
          <input class="form-control" type="password" formControlName="password"
            placeholder="{{getMessages('forms.placeholder.new_password')}}" class="form-control" />
          <strength-meter [value]="form.value.password" (measure)="onPasswordStrengthChanged($event)">
          </strength-meter>

          <div class="error" *ngIf="controls.password.errors && controls.password.touched">
            <div
              [ngClass]="{ 'show_div':controls.password.errors.required, 'hide_div':!controls.password.errors.required}">
              {{getMessages(ERRORS.REQUIRED.PASSWORD)}}</div>
            <div
              [ngClass]="{ 'show_div':controls.password.errors.pattern, 'hide_div':!controls.password.errors.pattern}">
              {{getMessages(ERRORS.PASS_REGEX)}}</div>
          </div>

        </div>
      </div>

      <div class="fieldset">
        <label translate>forms.label.confirm_password</label>
        <div class="form-group">
          <input class="form-control" type="password" formControlName="password_confirmation"
            placeholder="{{getMessages('forms.placeholder.confirm_password')}}" class="form-control" />

          <div class="error" *ngIf="controls.password_confirmation.errors && controls.password_confirmation.touched">

            <div *ngIf="controls.password_confirmation.errors.required">{{ERRORS.REQUIRED.PASSWORD}}</div>
            <div
              *ngIf="!controls.password_confirmation.errors.required && controls.password_confirmation.errors.mustMatch">
              {{getMessages(ERRORS.MISMATCH_CONFIRM_PASSWORD)}}</div>
          </div>

        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-lg btn-primary text-uppercase">
          {{'links_text.submit' | translate }}</button>
      </div>
      <!-- <button type="submit" class="btn btn-md btn-primary text-uppercase"> Submit</button> -->
    </form>
  </div>
</div>