<div class="container-fluid">
  <div class="wrapper">
    <footer class="footer text-center">
      <span class="f-logo d-inline-block"><img src="assets/img/cashback-logo.png" width="167" alt="Cashback Casino"
          class="img-fluid" /></span>
      <ul class="f-menu text-uppercase list-unstyled mb-0 mb-md-3">
        <li><a [routerLink]="'/about-us'">{{'links_text.about_us' | translate }}</a></li>
        <li><a [routerLink]="'/privacy-policy'">{{'links_text.privacy_policy' | translate}}</a></li>
        <li><a [routerLink]="'/responsible-gaming'">{{'links_text.responsible_gaming' | translate }}</a></li>
        <li><a [routerLink]="'/terms-and-conditions'">{{'links_text.terms_and_conditions' | translate}}</a></li>
      </ul>
      <ul class="f-menu text-uppercase list-unstyled">
        <li><a [routerLink]="'/game-rules'">{{'links_text.game_rules' | translate }}</a></li>
        <li><a [routerLink]="'/complaints'">{{'links_text.complaints' | translate }}</a></li>
        <li><a [routerLink]="'/registration-procedure'">{{'links_text.registration_procedure' | translate }}</a></li>
        <li><a href="http://www.emwysaffiliates.com/" target="_blank">{{'links_text.affiliates' | translate }}</a></li>
        <li ><a [routerLink]="'/bonus-terms-conditions'">{{'links_text.general_t&c' | translate}}</a></li>
      </ul>
      <div [innerHtml]="footerContent" class="mt-4 mt-md-0"></div>
      <div class="f-logos d-flex justify-content-center align-items-center flex-wrap">
        <a href="https://www.cashbackcasino.com" target="_blank"><div id="apg-9f72ae3d-fc57-43b9-8de5-7c8203c392b5" data-apg-seal-id="9f72ae3d-fc57-43b9-8de5-7c8203c392b5" data-apg-image-size="128" data-apg-image-type="basic-small"></div></a>
        
        <a href="https://www.softswiss.com" target="_blank"><img src="assets/img/icons/softswiss_casino.svg" alt="" class="img-fluid" /></a>
        <!-- <a href="https://authorisation.mga.org.mt/verification.aspx?lang=EN&company=1f417374-7580-426d-8969-1f404fce41f8&details=1"
        target="_blank"><img src="assets/img/front/MGA-LOGO.png" alt="" class="img-fluid" /></a> -->
        <a href="https://gambleaware.co.uk" target="_blank"><img src="assets/img/front/GAMBLER-LOGO.png" alt=""
            class="img-fluid" /></a>
            <a><img src="assets/img/front/maestro.svg" alt=""
              class="img-fluid" /></a>
              <a><img src="assets/img/front/visa.svg" alt=""
                class="img-fluid" /></a>
                <a><img src="assets/img/front/mastercard.svg" alt=""
                  class="img-fluid" /></a>
        <a href="https://www.gamcare.org.uk" target="_blank"><img src="assets/img/front/gamcare.svg" alt=""
            class="img-fluid" /></a>
        <a href="https://www.gamblersanonymous.org.uk" target="_blank"><img
            src="assets/img/front/gamblers_anonymous.svg" alt="" class="img-fluid" /></a>
        <a href="https://www.gamblingtherapy.org" target="_blank"><img src="assets/img/front/gambling_therapy.svg"
            alt="" class="img-fluid" /></a>
        <a [routerLink]="'/responsible-gaming'" class="teenager" target="_blank"><img src="assets/img/front/Union.svg"
            alt="" class="img-fluid" /></a>
        <!-- <a [routerLink]="'/'" target="_blank"><img src="assets/img/front/sofort_logo.svg"
              alt="" class="img-fluid" /></a> -->
        <!-- <a [routerLink]="'/'" class="teenager" target="_blank"><img src="assets/img/front/trustly-logo1.svg"
            alt="" class="img-fluid" /></a> -->
      </div>
    </footer>
  </div>
</div>