@import '../../../../assets/css/base.scss';

.main_screen {
    @include flexbox;
    @include align-items (center);
    @include justify-content (center);
    @include flex-direction (column);
    min-height:100vh; 
}
.change_pwd_scren {
    color: #17182F; @include border-radius (10px); 
    background:$white-color;
    width:580px; margin:0 auto; 
    font-family: 'Open Sans', sans-serif; 
    font-weight:$font-regular;
    overflow:hidden;
    @media (max-width:580px) {
        width:90%;
    }
    form{padding:30px;}
}
.form_header { 
    background: $grey-color6; border-top-right-radius:10px; padding:15px 30px;
    h5{ color:$black-color1; text-transform:uppercase; font-size:$f16+2; font-weight:$font-bold; margin:0;}
}
.fieldset {
    label {color:$black-color7; line-height:$f16+2; margin:0 0 10px; font-size:$f12+3; font-weight:$font-bold; display:$block;}
    .form-group {margin-bottom:20px;}
}
.form-control {
    width:100%; border: 1px solid $grey-color5; @include border-radius (10px); 
    padding: 5px 17px; font-size: $f12+2; 
    color:$black-color7; letter-spacing: 0.04em; 
    height:44px; background: $white-color; 
    box-shadow: $none; font-style: normal; 
    line-height:1; 
}
.btn-primary {
    min-height:40px; padding: 9px 25px; font-weight: $font-bold; min-width: 120px; @include border-radius (10px);
    font-size: $f16; 
    background: linear-gradient(131.04deg, #FFC400 8.69%, #FFEC4A 76.92%);
	background: -moz-linear-gradient(131.04deg, #FFC400 8.69%, #FFEC4A 76.92%); 
	background: -webkit-linear-gradient(131.04deg, #FFC400 8.69%, #FFEC4A 76.92%); 	
    box-shadow: 0px 2px 14px 0px rgba(255,196,0,0.7);
    color: $black-color2;
    box-shadow:0 0px 5px #ccc; 
    min-width: 167px; border:0; cursor:$pointer;
}
.invalid-feedback {width:100%; float:left; font-size:$f12; color:#dc3545; margin:0 0 10px;}
.error {width:100%; float:left; font-size:$f12; color:#dc3545; margin:0 0 10px;}