<section class="provider-sec text-center">
  <h2>{{'text.more_than' | translate}} <i class="mr-1"><img src="assets/img/icons/6000_green.png" alt="" /></i> {{'text.games_from_best_providers'| translate}} </h2>
  <div class="provider_logos d-flex align-items-center justify-content-center">
    <!-- <div class="logos-div" *ngFor="let provider of providers">
      <a href="#" target="_blank">
        <img src="{{getLogoImg(provider, 'white')}}" alt="" class="img-fluid" />
        <img src="{{getLogoImg(provider, 'color')}}" alt="" class="img-fluid" />
      </a>
    </div> -->
    <!-- <div class="logos-div">
      <a href="#" target="_blank">
        <img src="https://cdn2.softswiss.net/logos/providers/white/netent.svg" alt="" class="img-fluid" />
        <img src="https://cdn2.softswiss.net/logos/providers/color/netent.svg" alt="" class="img-fluid" />
      </a>
    </div>
    <div class="logos-div">
      <a href="#" target="_blank">
        <img src="https://cdn2.softswiss.net/logos/providers/white/elk.svg" alt="" class="img-fluid" />
        <img src="https://cdn2.softswiss.net/logos/providers/color/elk.svg" alt="" class="img-fluid" />
      </a>
    </div>
    <div class="logos-div">
      <a href="#" target="_blank">
        <img src="https://cdn2.softswiss.net/logos/providers/white/evolution.svg" alt="" class="img-fluid" />
        <img src="https://cdn2.softswiss.net/logos/providers/color/evolution.svg" alt="" class="img-fluid" />
      </a>
    </div>
    <div class="logos-div">
      <a href="#" target="_blank">
        <img src="https://cdn2.softswiss.net/logos/providers/white/bgaming.svg" alt="" class="img-fluid" />
        <img src="https://cdn2.softswiss.net/logos/providers/color/bgaming.svg" alt="" class="img-fluid" />
      </a>
    </div> -->
    <!--<div class="logos-div">
      <a href="#" target="_blank">
        <img src="https://cdn2.softswiss.net/logos/providers/white/netent.svg" alt="" class="img-fluid" />
        <img src="https://cdn2.softswiss.net/logos/providers/color/netent.svg" alt="" class="img-fluid" />
      </a>
    </div>
    <div class="logos-div">
      <a href="#" target="_blank">
        <img src="https://cdn2.softswiss.net/logos/providers/white/netent.svg" alt="" class="img-fluid" />
        <img src="https://cdn2.softswiss.net/logos/providers/color/netent.svg" alt="" class="img-fluid" />
      </a>
    </div>
    <div class="logos-div">
      <a href="#" target="_blank">
        <img src="https://cdn2.softswiss.net/logos/providers/white/netent.svg" alt="" class="img-fluid" />
        <img src="https://cdn2.softswiss.net/logos/providers/color/netent.svg" alt="" class="img-fluid" />
      </a>
    </div>
    <div class="logos-div">
      <a href="#" target="_blank">
        <img src="https://cdn2.softswiss.net/logos/providers/white/netent.svg" alt="" class="img-fluid" />
        <img src="https://cdn2.softswiss.net/logos/providers/color/netent.svg" alt="" class="img-fluid" />
      </a>
    </div>
    <div class="logos-div">
      <a href="#" target="_blank">
        <img src="https://cdn2.softswiss.net/logos/providers/white/netent.svg" alt="" class="img-fluid" />
        <img src="https://cdn2.softswiss.net/logos/providers/color/netent.svg" alt="" class="img-fluid" />
      </a>
    </div> -->
    <div class="col-div">
      <a routerLink="." (click)="selectProvider('netent', 'NETENT')"><img src="assets/img/logos/brand1.png" alt=""
          class="img-fluid" /></a>
    </div>
    <div class="col-div">
      <a routerLink="." (click)="selectProvider('playngo', 'Play\'n GO')"><img src="assets/img/logos/brand2.png" alt=""
          class="img-fluid" /></a>
    </div>
    <div class="col-div">
      <a routerLink="." (click)="selectProvider('yggdrasil','Yggdrasil')"><img src="assets/img/logos/brand3.png" alt=""
          class="img-fluid" /></a>
    </div>
    <div class="col-div">
      <a routerLink="." (click)="selectProvider('pragmatic','pragmatic')"><img src="assets/img/logos/brand4.png" alt=""
          class="img-fluid" /></a>
    </div>
    <div class="col-div">
      <a routerLink="." (click)="selectProvider('elk', 'ELK')"><img src="assets/img/logos/brand5.png" alt=""
          class="img-fluid" /></a>
    </div>
    <div class="col-div">
      <a routerLink="." (click)="selectProvider('microgaming','Microgaming')"><img src="assets/img/logos/brand6.png"
          alt="" class="img-fluid" /></a>
    </div>
    <div class="col-div">
      <a routerLink="." (click)="selectProvider('evolution','EVOLUTION')"><img src="assets/img/logos/brand7.png" alt=""
          class="img-fluid" /></a>
    </div>
    <div class="col-div">
      <a routerLink="." (click)="selectProvider('redtiger','Red Tiger Gaming')"><img src="assets/img/logos/brand8.png"
          alt="" class="img-fluid" /></a>
    </div>
    <div class="col-div">
      <a routerLink="." (click)="selectProvider('isoftbet','iSoftBet')"><img src="assets/img/logos/brand9.png" alt=""
          class="img-fluid" /></a>
    </div>
    <div class="col-div">
      <a routerLink="." (click)="selectProvider('quickspin','Quickspin')"><img src="assets/img/logos/brand10.png" alt=""
          class="img-fluid" /></a>
    </div>
  </div>
</section>
