@import '../../../../assets/css/base.scss';

.login_form{
  color: $black-color !important;
}
input.ng-valid  {
  border: 1px solid #42A948; 
}
.ng-touched.ng-invalid:not(form)  {
  border: 1px solid #a94442;  
}
.invalid-feedback{
  display: $block;
}
::ng-deep{
  .modal-content{
    background-color: $transparent!important;
  }
}
.btn:disabled{
  cursor: not-allowed;
}
a {cursor:pointer;}

// Mobile Forgot Css
@media (max-width:820px){
  .login_mobile {
    margin:20px auto;
    padding:0 15px;
    max-width: 400px;      
    .singPupForm {
        height: initial;
        .form_rht_sidebar {            
            margin-right:0;
            min-height: 520px;            
            @include border-radius (12px);
            background:url(.../../../../../../assets/img/side_menu_bg.png)no-repeat; 
            background-size:100% 101%;
            height:initial;            
            .form_screens {
                height: initial;
                .fieldset {
                    label{
                      color:$white-color;
                    }
                }
                .button-wrapper {
                  margin-top: 20px;
                }
                .no_account {
                  color:$white-color;    
                }
            }
        }    
    }
    .forgot_mail {
      color:$white-color;
    }
  }
}
.register-manually {
  a {
    color:$base-color;
  }
}

.sucsessbg  {  
  @media (max-width: 820px) {
    padding-top:40px;
    min-height:520px;
  }
  .form_screens {
    padding:0;
    //height: calc(100% - 0px);    
  }
  .form-contents {
    @media (max-height: 480px){
      height:auto;
    }
  }
  .button-wrapper {
    padding:0 25px;
  }
}