<div class="signupForm login_mobile" *ngIf="!closeModal;else closePage" role="document">

    <div class="modal-body">
        <div *ngIf="!mobile else mobileForm" class="singPupForm d-flex">

            <aside *ngIf="checkShowCase('left')" class="form_lft_sidebar" [ngClass]="step==1?'animated':'null'">
                <app-button type="mobile_close" (click)="close()"></app-button>
                <div class="sign_logo text-center">
                    <span><img src="assets/img/logo.svg" width="167" alt="Cashback Casino"></span>
                </div>
                <ul class="form_steps">
                    <li class="d-flex align-items-start step" [ngClass]="stepClass(1)">
                        <div class="highlighter"></div>
                        <a class="link-exact-active link-active">
                            <div class="menu_txt" translate>
                                title.forgot_password
                            </div>
                            <div class="d-flex overlay notDone" (click)="stepMove(1)">
                                <h6 translate>links_text.enter_with_email
                                    <small translate>text.almost_done</small>
                                </h6>
                            </div>
                        </a>
                    </li>
                    <li class="d-flex align-items-start step" [ngClass]="stepClass(2)">

                        <a class="link-exact-active link-active">
                            <div class="menu_txt" translate>
                                title.confirm_verification
                            </div>
                        </a>
                        <div class="d-flex overlay notDone" (click)="stepMove(2)">
                            <h6 translate>links_text.email_verification
                                <small translate>text.check_email</small>
                            </h6>
                        </div>
                    </li>
                </ul>
            </aside>
            <!-- End Left Side Bar-->
            <aside *ngIf="checkShowCase('right')" class="form_rht_sidebar">
                <div class="form_header d-flex align-items-center justify-content-center">
                    <h5 class="text-uppercase" translate>title.praise_casino</h5>
                    <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.4459 5L9.70027 8.25436C10.0989 8.65304 10.1012 9.29712 9.69918 9.69918C9.29991 10.0985 8.65272 10.0986 8.25436 9.70027L5 6.4459L1.74564 9.70027C1.34696 10.0989 0.702876 10.1012 0.300817 9.69918C-0.0984575 9.29991 -0.0986209 8.65272 0.299735 8.25436L3.5541 5L0.299735 1.74564C-0.0989423 1.34696 -0.101241 0.702876 0.300817 0.300817C0.700092 -0.0984575 1.34728 -0.0986208 1.74564 0.299735L5 3.5541L8.25436 0.299735C8.65304 -0.0989423 9.29712 -0.101241 9.69918 0.300817C10.0985 0.700092 10.0986 1.34728 9.70027 1.74564L6.4459 5Z"
                                fill="#ffffff" />
                        </svg>
                    </button>
                </div>

                <form *ngIf="step == 1" class="form_screens login_form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-contents">
                        <div class="form-fields">
                            <div class="fieldset">
                                <label translate>forms.label.email</label>
                                <div class="form-group">
                                    <input type="email"
                                        placeholder="{{getTranslatedText('forms.placeholder.enter_your_email')}}"
                                        class="form-control" formControlName="email" />
                                    <div *ngIf="formControls.email.errors && formControls.email.touched"
                                        class="invalid-feedback">
                                        <div *ngIf="formControls.email.errors.required" translate>
                                            forms.error.email_required</div>
                                        <div *ngIf="formControls.email.errors.email" translate>forms.error.email_invalid
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fieldset">
                                <div class="form-group">
                                    <ngx-recaptcha2 *ngIf="showCaptcha && captchaVersion == 2" [siteKey]="siteKey"
                                        formControlName="captcha"></ngx-recaptcha2>
                                </div>
                            </div>
                            <div class="fields-hints">
                                <span class="helper mt-0" translate>text.enter_email_to_get_reset_pw_instructions</span>
                                <!-- <span class="helper register-manually" translate>text.no_account_yet <a
                                        (click)="openModal('register')" translate>links_text.register_here </a></span> -->
                            </div>

                            <div class="form-group text-left mt-5">
                                <button type="submit" class="btn btn-md btn-primary text-uppercase"
                                    [disabled]="!form.valid">
                                    {{'links_text.send_email' | translate }} <i class="ml-2"><img
                                            src="assets/img/icons/arrow-right_icon.svg" width="20" alt="" /></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
                <div *ngIf="step ==  2" class="sucsessbg align-items-center justify-content-center d-flex">
                    <div class="form_screens scroll">
                        <div class="form-contents scroll text-center">
                            <div class="forgot_mail text-center">
                                <i><img src="assets/img/success_casino.svg" alt="" class="img-fluid"/></i>
                                <h3 class="m-0" translate>text.check_email</h3>
                                <p class="mt-2 mb-0" translate>text.reset_pw_link_sent</p>
                                <div class="button-wrapper my-3 text-center">
                                    <button class="btn btn-md btn-primary text-uppercase" (click)="openModal('login')">
                                        {{'links_text.login' | translate }} <i class="ml-2"><img
                                                src="assets/img/icons/arrow-right_icon.svg" width="20" alt="" /></i>
                                    </button>
                                </div>
                                <p translate>text.not_receive_link <a (click)="onSubmit()" translate>links_text.resend</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- End Right Side Bar-->
        </div>
    </div>
</div>

<ng-template #mobileForm>
    <div class="singPupForm d-flex">

        <aside class="form_rht_sidebar">
            <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6.4459 5L9.70027 8.25436C10.0989 8.65304 10.1012 9.29712 9.69918 9.69918C9.29991 10.0985 8.65272 10.0986 8.25436 9.70027L5 6.4459L1.74564 9.70027C1.34696 10.0989 0.702876 10.1012 0.300817 9.69918C-0.0984575 9.29991 -0.0986209 8.65272 0.299735 8.25436L3.5541 5L0.299735 1.74564C-0.0989423 1.34696 -0.101241 0.702876 0.300817 0.300817C0.700092 -0.0984575 1.34728 -0.0986208 1.74564 0.299735L5 3.5541L8.25436 0.299735C8.65304 -0.0989423 9.29712 -0.101241 9.69918 0.300817C10.0985 0.700092 10.0986 1.34728 9.70027 1.74564L6.4459 5Z"
                        fill="#ffffff" />
                </svg>
            </button>

            <form *ngIf="step == 1" class="form_screens login_form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="sign_logo pt-3 pb-4">
                    <span><img src="assets/img/logo.svg" width="167" alt="Cashback Casino" /></span>
                </div>
                <div class="form-contents">
                    <div class="form-fields">
                        <div class="fieldset">
                            <label translate>forms.label.email</label>
                            <div class="form-group">
                                <input type="email"
                                    placeholder="{{getTranslatedText('forms.placeholder.enter_your_email')}}"
                                    class="form-control" formControlName="email" />
                                <div *ngIf="formControls.email.errors && formControls.email.touched"
                                    class="invalid-feedback">
                                    <div *ngIf="formControls.email.errors.required" translate>forms.error.email_required
                                    </div>
                                    <div *ngIf="formControls.email.errors.email" translate>forms.error.email_invalid
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fieldset">
                            <div class="form-group">
                                <ngx-recaptcha2 *ngIf="showCaptcha && captchaVersion == 2" [siteKey]="siteKey"
                                    formControlName="captcha"></ngx-recaptcha2>
                            </div>
                        </div>
                        <div class="fields-hints">
                            <span class="helper mt-0" translate>text.enter_email_to_get_reset_pw_instructions</span>
                            <span class="helper register-manually" translate>text.no_account_yet <a
                                    (click)="openModal('register')" translate>links_text.register_here </a></span>
                        </div>

                        <div class="form-group text-left mt-5">
                            <button type="submit" class="btn btn-md btn-primary text-uppercase"
                                [disabled]="!form.valid">
                                {{'links_text.send_email' | translate }} <i class="ml-2"><img
                                        src="assets/img/icons/arrow-right_icon.svg" width="20" alt="" /></i>
                            </button>
                        </div>

                    </div>
                </div>
            </form>
            <div *ngIf="step ==  2" class="sucsessbg align-items-center justify-content-center d-flex">
                <div class="form-contents">
                    <div class=" text-center">
                        <i><img src="assets/img/success_casino.svg" alt="" class="img-fluid"/></i>
                        <h3 class="m-0" translate>text.check_email</h3>
                        <p class="mt-2 mb-0" translate>text.reset_pw_link_sent</p>
                        <div class="button-wrapper my-3 text-center">
                            <button class="btn btn-md btn-primary text-uppercase" (click)="openModal('login')">
                                {{'links_text.login' | translate }} <i class="ml-2"><img
                                        src="assets/img/icons/arrow-right_icon.svg" width="20" alt="" /></i>
                            </button>
                        </div>
                        <p translate>text.not_receive_link <a (click)="onSubmit()" translate>links_text.resend</a></p>
                    </div>
                </div>
            </div>
        </aside>
        <!-- End Right Side Bar-->
    </div>
</ng-template>
<ng-template #closePage>
    <div class="signupForm" role="document">

        <div class="modal-body">
            <div class="singPupForm d-flex p-4 align-items-center">
                <div class="cancel-form w-100 text-center">
                    <div class="cancel-confirm">
                        <h2 class="mb-4" translate>title.why_not_try_us</h2>
                        <p translate> text.new_quick_login </p>
                        <div class="btn-contain btn_column d-flex flex-column">
                            <button (click)="close('back')"
                                class="btn btn-md btn-primary">{{'links_text.back' | translate }}</button>
                            <button (click)="close('yes')"
                                class="btn btn-md btn-transparent">{{'links_text.close' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>